# BANE Secrets Example
# Rename this to secrets.env and fill in your details

TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
TELEGRAM_USER_ID="YOUR_TELEGRAM_USER_ID"
MAINTENANCE_PASSWORD="YOUR_MAINTENANCE_PASSWORD"

# Messenger Integration
MESSENGER_PAGE_ACCESS_TOKEN="YOUR_MESSENGER_PAGE_ACCESS_TOKEN"
MESSENGER_VERIFY_TOKEN="YOUR_MESSENGER_VERIFY_TOKEN"

# Gemini AI Integration
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

# Sudo Password
SUDO_PASSWORD="YOUR_SUDO_PASSWORD"

# Shadow Protocol AES Key
SHADOW_KEY="YOUR_BASE64_ENCODED_AES_KEY"
